.container {
    font-family: Arial;
    display: grid;
    grid-auto-flow: column;


}

.container-about {
    display: grid;
    grid-auto-flow: column;

}

.col-1 {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;

}

.col-2 {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;

}

.col-3 {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;

}

.logo {
    color: white;
    font-size: 20px;
    background: red;
    padding: 5px;
  
}


a:hover {
    color: red;
}

body {
    margin: 0;
}

.googleFont {
    font-family: 'Edu SA Beginner', cursive;
}

.googleFont2 {
    font-family: 'Lobster Two', cursive;
}

p {
    color: white;
    font-size: 12px;
    margin: 0;
    text-transform: uppercase;
}


